:root {
  --shadow-color: 0 4px 6px rgba(0, 0, 0, 0.5);
  --border-checkbox: 1px solid #ccc;
  --lightMode-background: #fafafa;
  --darkMode-background: #080b12;
  --color-taskbg: #f9f9f9;
  --color-taskfont: #333;
  --color-filterActived: #007bff;
  --color-placeholder: #333;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}
.main {
  width: 175px;
}
.task-container {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
}

.checkbox:checked + .label {
  text-decoration: line-through;
  color: #a0a0a0;
}

.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.filter {
  color: #767676;
  cursor: pointer;
}

.filter-active {
  color: #007bff;
}
